<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
     <staticContent>
       <remove fileExtension=".md" />
       <remove fileExtension=".json" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".ttf" />
        <mimeMap fileExtension=".md" mimeType="application/text" />
		    <mimeMap fileExtension=".json" mimeType="application/json"     />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
         <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
         <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
         <mimeMap fileExtension=".eot" mimeType="application/x-font-eot" />
         <mimeMap fileExtension=".otf" mimeType="application/x-font-otf" />
         <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
        <!-- <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" /> -->
     </staticContent>
  </system.webServer>
</configuration>